@font-face {
	font-family: "Palatino Linotype";
	src: url("../assets/fonts/Palatino Linotype.ttf") format("truetype");
}

html {
	font-size: 20%;
}

body {
	background-color: #F9F3E8;
}

.verseText, .heading {
	font-family: 'Palatino Linotype';
}

.verses {
	margin-right: 20%;
}